/* ==== CLEAN POOP ==== */
.cleanbar {
	width:10px;
	height:500px;
	background-color:lightgray;
	position:absolute;
	left:5px;
	top:5px;
	 -webkit-transition: 1s ease-in-out;
   -moz-transition: 1s ease-in-out;
   -o-transition: 1s ease-in-out;
   transition: 1s ease-in-out;
  visibility: hidden;
}
 .cleanpoop:hover + .cleanbar {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(430px,0);
    visibility: visible;
  }

/*  POOP  */
.poop {
	width: 39px;
	height: 44px;
  background: url('/img/animation/poop.png');
  margin-top:240px;
  position:absolute;
}



/* ==== ANIMATIONS - CHARACTER 1 ==== */

/*  DEFAULT ANIMATION  */
.c1-default-anim {
  width: 229px;
  height: 304px;
  margin: 2% auto;
  background: url('/img/animation/defaultsheetc1.png') left center;
  animation: playc1default 6s steps(12) infinite;
  margin-top:90px;
}
@keyframes playc1default {
	100% { background-position: -2746px; }
}

/*  FEED ANIMATION  */
.c1-feed-anim {
  width: 323px;
  height: 265px;
  margin: 2% auto;
  background: url('/img/animation/feedsheetc1.png') left center;
  animation: playc1feed 4s steps(10) infinite;
}
@keyframes playc1feed {
	100% { background-position: -3236px; }
}

/*  SLEEP ANIMATION  */
.c1-sleep-anim {
  width: 329px;
  height: 270px;
  margin: 2% auto;
  background: url('/img/animation/sleepsheetc1.png') left center;
  animation: playc1sleep 5s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc1sleep {
  100% { background-position: -1318px; }
}

/*  NURSE ANIMATION  */
.c1-nurse-anim {
  width: 460px;
  height: 340px;
  margin: 2% auto;
  background: url('/img/animation/nursesheetc1.png') left center;
  animation: playc1nurse 10s steps(10) infinite;
  margin-top:90px;
}
@keyframes playc1nurse {
  100% { background-position: -4600px; }
}

/*  SICK ANIMATION  */
.c1-sick-anim {
  width: 229px;
  height: 306px;
  margin: 2% auto;
  background: url('/img/animation/sicksheetc1.png') left center;
  animation: playc1sick 4s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc1sick {
  100% { background-position: -917px; }
}


/* ==== ANIMATIONS - CHARACTER 2 ==== */

/*DEFAULT ANIMATION */
.c2-default-anim {
  width: 229px;
  height: 306px;
  margin: 2% auto;
  background: url('/img/animation/defaultsheetc2.png') left center;
  animation: playc2default 6s steps(12) infinite;
  margin-top:90px;
}
@keyframes playc2default {
  100% { background-position: -2749px; }
}

/*  FEED ANIMATION  */
.c2-feed-anim {
  width: 322px;
  height: 265px;
  margin: 2% auto;
  background: url('/img/animation/feedsheetc2.png') left center;
  animation: playc2feed 4s steps(10) infinite;
}
@keyframes playc2feed {
  100% { background-position: -3236px; }
}


/*  SLEEP ANIMATION  */
.c2-sleep-anim {
  width: 329px;
  height: 270px;
  margin: 2% auto;
  background: url('/img/animation/sleepsheetc2.png') left center;
  animation: playc2sleep 5s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc2sleep {
  100% { background-position: -1318px; }
}

/*  NURSE ANIMATION  */
.c2-nurse-anim {
  width: 460px;
  height: 306px;
  background: url('/img/animation/nursesheetc2.png') 0 0 no-repeat; 
  animation: playc2nurse 11s steps(10) infinite;
  margin-top:90px;
}
@keyframes playc2nurse {
  100% { background-position: 0 -3060px; }
}

/*  SICK ANIMATION  */
.c2-sick-anim {
  width: 229px;
  height: 306px;
  margin: 2% auto;
  background: url('/img/animation/sicksheetc2.png') left center;
  animation: playc2sick 4s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc2sick {
  100% { background-position: -917px; }
}


/* ==== ANIMATIONS - CHARACTER 3 ==== */

/*DEFAULT ANIMATION */
.c3-default-anim {
  width: 228px;
  height: 400px;
  margin: 2% auto;
  background: url('/img/animation/defaultsheetc3.png') left center;
  animation: playc3default 6s steps(6) infinite;
  margin-top:90px;
}
@keyframes playc3default {
  100% { background-position: -1373px; }
}

/*  FEED ANIMATION  */
.c3-feed-anim {
  width: 322px;
  height: 292px;
  margin: 2% auto;
  background: url('/img/animation/feedsheetc3.png') left center;
  animation: playc3feed 4s steps(10) infinite;
}
@keyframes playc3feed {
  100% { background-position: -3230px; }
}

/*  SLEEP ANIMATION  */
.c3-sleep-anim {
  width: 329px;
  height: 293px;
  margin: 2% auto;
  background: url('/img/animation/sleepsheetc3.png') left center;
  animation: playc3sleep 5s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc3sleep {
  100% { background-position: -1318px; }
}

/*  NURSE ANIMATION  */
.c3-nurse-anim {
  width: 460px;
  height: 340px;
  background: url('/img/animation/nursesheetc3.png') 0 0 no-repeat; 
  animation: playc3nurse 11s steps(10) infinite;
  margin-top:90px;
}
@keyframes playc3nurse {
  100% { background-position: -4600px; }
}

/*  SICK ANIMATION  */
.c3-sick-anim {
  width: 229px;
  height: 306px;
  margin: 2% auto;
  background: url('/img/animation/sicksheetc3.png') left center;
  animation: playc3sick 4s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc3sick {
  100% { background-position: -917px; }
}


/* ==== ANIMATIONS - CHARACTER 4 ==== */

/*DEFAULT ANIMATION */
.c4-default-anim {
  width: 257px;
  height: 294px;
  margin: 2% auto;
  background: url('/img/animation/defaultsheetc4.png') left center;
  animation: playc4default 6s steps(6) infinite;
  margin-top:90px;
}
@keyframes playc4default {
  100% { background-position: -1547px; }
}

/*  FEED ANIMATION  */
.c4-feed-anim {
  width: 384px;
  height: 297px;
  margin: 2% auto;
  background: url('/img/animation/feedsheetc4.png') left center;
  animation: playc4feed 4s steps(10) infinite;
}
@keyframes playc4feed {
  100% { background-position: -3842px; }
}

/*  SLEEP ANIMATION  */
.c4-sleep-anim {
  width: 383px;
  height: 248px;
  margin: 2% auto;
  background: url('/img/animation/sleepsheetc4.png') left center;
  animation: playc4sleep 5s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc4sleep {
  100% { background-position: -1534px; }
}

/*  NURSE ANIMATION  */
.c4-nurse-anim {
  width: 460px;
  height: 340px;
  background: url('/img/animation/nursesheetc4.png') 0 0 no-repeat; 
  animation: playc4nurse 11s steps(10) infinite;
  margin-top:90px;
}
@keyframes playc4nurse {
  100% { background-position: -4600px; }
}

/*  SICK ANIMATION  */
.c4-sick-anim {
  width: 278px;
  height: 259px;
  margin: 2% auto;
  background: url('/img/animation/sicksheetc4.png') left center;
  animation: playc4sick 4s steps(4) infinite;
  margin-top:90px;
}
@keyframes playc4sick {
  100% { background-position: -1114px; }
}