<div id="home-buttons">
  <button class="home-button" ng-click="SignUpCtrl.clickLogin()">Login</button>
  <button class="home-button" ng-click="SignUpCtrl.clickSignUp()">Sign Up</button>
</div>

<!-- SIGN UP FORM -->
<div id="home-form">
  <form class="home-form" ng-if="SignUpCtrl.signingUp" ng-submit="SignUpCtrl.createUser()">
    <hr>
  	<h3>Sign Up</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="test@test.com" ng-model="SignUpCtrl.newUser.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="********" ng-model="SignUpCtrl.newUser.password">
    </div>
    <h4>Pick Your Pet</h4>
    <div class="pet1">
      <input type="radio" ng-model="SignUpCtrl.newUser.pet.species" name="pet" value="pet1" checked><br>
      <img src="/img/pickpet1.png">
    </div>
    <div class="pet2">
      <input type="radio" ng-model="SignUpCtrl.newUser.pet.species" name="pet" value="pet2"><br>
      <img src="/img/pickpet2.png">
    </div>
    <div class="pet3">
      <input type="radio" ng-model="SignUpCtrl.newUser.pet.species" name="pet" value="3" checked><br>
      <img src="/img/pickpet3.png">
    </div>
    <div class="pet4">
      <input type="radio" ng-model="SignUpCtrl.newUser.pet.species" name="pet" value="4" checked><br>
      <img src="/img/pickpet4.png">
    </div>
    
     <br>
     <div class="clear"></div>

    <label for="petName">Pet's Name: </label>
    <input type="text" ng-model="SignUpCtrl.newUser.pet.petname" name="petName">
    <p style="color:red" ng-if="SignUpCtrl.noPassword == true">Please enter a password at least 6 characters long.</p>
   <p style="color:red" ng-if="SignUpCtrl.noSpecies">Choose your pet.</p>
   <p style="color:red" ng-if="SignUpCtrl.noPetname">Give your pet a name.</p>
   <p style="color:red" ng-if="SignUpCtrl.emailTaken">That email is already in use.</p>
    <button type="submit" class="btn btn-primary">Start!</button>
  </form>

  <!-- LOGIN FORM -->
  <form class="home-form" ng-if="SignUpCtrl.loggingIn" ng-submit="SignUpCtrl.loginUser()">
    <hr>
  	<h3>Login</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="test@test.com" ng-model="SignUpCtrl.loginInfo.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="********" ng-model="SignUpCtrl.loginInfo.password">
    </div>
    <p style="color:red" ng-if="SignUpCtrl.userNotFound">User not Found.</p>
    <p style="color:red" ng-if="SignUpCtrl.invalidPassword">Invalid Password.</p>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>