<style>
  #vader {
    height: 200px;
    position: absolute;
    margin-top: 25%;
    margin-left: 32%;
  }
  .guessArrows {
    position: absolute;
    height: 50px;
    margin-top: 45%;
    font-size: 20px;
  }
  #guessArrow1 {
    margin-left: 10%;
  }
  #guessArrow2 {
    margin-left: 72%;
  }
  #guessWinner, #guessLoser {
    display: none;
    text-align: center;
  }
</style>
<div id="guessWinner">
  <p>Winner</p>
</div>
<div id="guessLoser">
  <p>Loser</p>
</div>
<img src="/img/lftarow.png" id="guessArrow1" class="guessArrows">
<img src="/img/rtarow.png" id="guessArrow2" class="guessArrows">
<img id="vader" src="/img/redVader.png">