<h4 id="whackScore" class="moleScore">Score: {{WhackCtrl.score}}/5</h4>
<img ng-click="WhackCtrl.addPoint()" id="moleYoda1" class="moleYoda" src="./img/yoda.png">
<img ng-click="WhackCtrl.addPoint()" id="moleYoda2" class="moleYoda" src="./img/yoda.png">
<img ng-click="WhackCtrl.addPoint()" id="moleYoda3" class="moleYoda" src="./img/yoda.png">
<img id="moleBox1" class="moleBox" src="./img/box.png">
<img id="moleBox2" class="moleBox" src="./img/box.png">
<img id="moleBox3" class="moleBox" src="./img/box.png">
