	<div id="stats">
		<div id="health-stats">
			<div id="health-stats-icon"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
		</div>
		<div id="mood-stats">
			<div id="mood-stats-icon"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
		</div>
	</div>