	<div id="stats">
		<div id="health-stats">
			<div id="health-stats-icon"></div>
				<div ng-repeat="bar in StatsBarCtrl.healthBars" class="stats-bar"></div>
<!-- 				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
 -->		</div>
		<div id="mood-stats">
			<div id="mood-stats-icon"></div>
				<div ng-repeat="bar in StatsBarCtrl.moodBars" class="stats-bar"></div>
<!-- 				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div>
				<div class="stats-bar"></div> -->
		</div>
	</div>